{% extends 'base.html.twig' %}

{% block title %}Mes reservation {% endblock %}

{% block content %}
<div class="container">
    <h1 class='text-center'>Vos reservation</h1>
    <div class="alert alert-info mt5">
        <p>Retrouvez vos réservation dans nôtre <b> hôtel d'Auxerre</b></p>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Chambre</th>
            <th scope="col">Arriver</th>
            <th scope="col">Depart</th>
            <th scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for bookingAuxerre in app.user.bookingAuxerres %}
            <tr> 
                    <td>{{bookingAuxerre.rooms.name}}</td>                
                    <td>{{bookingAuxerre.startDate | date('d/m/Y')}}</td>
                    <td>{{bookingAuxerre.endDate | date('d/m/Y')}}</td>
                    <td>{{(bookingAuxerre.rooms.price / 100) | number_format(2, ',' , '.' )}}€ la nuit.</td>
                    <td><a href="{{path('app_account_delete_bookings', {'id' : bookingAuxerre.id } )}}">Supprimer ma commande</a></td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
</div>

<div class="container">
    <div class="alert alert-info mt5">
        <p>Retrouvez vos réservation dans notre <b>hôtel de </b></p>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Chambre</th>
            <th scope="col">Arriver</th>
            <th scope="col">Depart</th>
            <th scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for bookingCannes in app.user.bookingCannes %}
            <tr> 
                    <td>{{bookingCannes.rooms.name}}</td>                
                    <td>{{bookingCannes.startDate | date('d/m/Y')}}</td>
                    <td>{{bookingCannes.endDate | date('d/m/Y')}}</td>
                    <td>{{(bookingCannes.rooms.price / 100) | number_format(2, ',' , '.' )}}€ la nuit.</td>
                    <td><a href="{{path('app_account_delete_bookings', {'id' : bookingCannes.id } )}}">Supprimer ma commande</a></td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
</div>

<div class="container">
    <div class="alert alert-info mt5">
        <p>Retrouvez vos réservation dans notre <b>hôtel de Paris</b></p>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Chambre</th>
            <th scope="col">Arriver</th>
            <th scope="col">Depart</th>
            <th scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>
         {% for bookingParis in app.user.bookingParis %}
            <tr> 
                    <td>{{bookingParis.rooms.name}}</td>                
                    <td>{{bookingParis.startDate | date('d/m/Y')}}</td>
                    <td>{{bookingParis.endDate | date('d/m/Y')}}</td>
                    <td>{{(bookingParis.rooms.price / 100) | number_format(2, ',' , '.' )}}€ la nuit.</td>
                    <td><a href="{{path('app_account_delete_bookings', {'id' : bookingParis.id } )}}">Supprimer ma commande</a></td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
</div>



{% endblock %}