{% extends 'base.html.twig' %}

{% block title %}Inscription - Hôtels Hypnos{% endblock %}

{% block content %}

<div class="container">
    <div class="text-center"><h1>Inscription à nos hôtels</h1></div>

{% for message in app.flashes('success') %}
    <p>{{ message }}</p>
{% endfor %}

    {{form_start(form)}}

    <div class="row justify-content-center align-items-center text-center">
            {{ form_label(form.firstname)}}
            <input class="form-control" {{form_widget(form.firstname)}}
    </div>

    <div class="row justify-content-center align-items-center text-center">
        {{ form_label(form.lastname)}}
        <input class="form-control"{{form_widget(form.lastname)}}
    </div>

    <div class="row justify-content-center align-items-center text-center">
        {{ form_label(form.email)}}
        <input class="form-control"{{form_widget(form.email)}}
    </div>

    <div class="row justify-content-center align-items-center text-center">
        {{ form_label(form.password)}}
        <input class="form-control"{{form_widget(form.password)}}
    </div>

    <div class="text-center mt-4">
        {{ form_row(form.submit) }}
    </div>

    {{form_end(form)}}
</div>


{% endblock %}
