{% extends 'base.html.twig' %}

{% block title %}Contact - HYPNOS HOTEL{% endblock %}

{% block content %}

<div class="container">

    <div class="row text-center">
        <h1>Formulaire de contact</h1>
    </div>

{% for message in app.flashes('success') %}
    <p class="text-center" style="color:green;">{{ message }}</p>
{% endfor %}

    {{form_start(contactForm)}}
    <div class="row justify-content-right text-center">

        <div class="col-xl-8">
            <div class="row">
                <div class="col-xl-4 m-3">
                        {{ form_label(contactForm.firstname) }}
                        {{ form_widget(contactForm.firstname) }}
                </div>

                <div class="col-xl-4 m-3">
                    {{ form_label(contactForm.lastname) }}
                    {{ form_widget(contactForm.lastname) }}
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 m-3">
                    {{ form_label(contactForm.email) }}
                    {{ form_widget(contactForm.email) }}
                </div>

                <div class="col-xl-4 m-3">
                    {{ form_label(contactForm.phoneNumber) }}
                    {{ form_widget(contactForm.phoneNumber) }}
                </div>
            </div>

            <div class="col-xl-8 m-3" >
                {{ form_label(contactForm.selection) }}
                {{ form_widget(contactForm.selection) }}
            </div>

            <div class="col-xl-8 m-3">
                {{ form_label(contactForm.message) }}
                {{ form_widget(contactForm.message) }}
            </div>

            <div class="col-xl-8 mt-4">
                {{ form_row(contactForm.submit) }}
            </div>
        </div>

        <div class="col-xl-4 d-flex justify-content-center align-items-center">
            <h2>Contact Groupe Hôtel HYPNOS</h2>
            <div>
                <p>45 promenades des Anglais</p>
                <p>06000 NICE</p>
            <hr>
                <p>Téléphone : 04.93.93.93.93</p>
            </div>
        </div>
    </div>

    {{form_end(contactForm)}}
</div>

{% endblock %}
