{% extends 'base.html.twig' %}

{% block title %}Réservation chambre Hypnos Theoule{% endblock %}

{% block content %}

{% for hotel in hotelTheoule %}

<div class="carousel-inner">
    <div class="carousel-item active">
        <img class="hotel" src="/assets/{{hotel.photoBandeau}}" alt="">
        <div class="container">
            <div class="carousel-caption">
                <div class='hotel-logo-name'>
                    <img class='logo' src="{{asset('assets/img/Logo_HYPNOS.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<div class="container">
    <div class="text-center"><h1>Réservation HYPNOS THEOULE</h1></div>

{% for message in app.flashes('warning') %}
    <p class="text-center" style="color:red;">{{ message }}</p>
{% endfor %}

    {{form_start(bookingTheouleForm)}}

    <div class="row justify-content-center align-items-center text-center">
            {{ form_label(bookingTheouleForm.startDate)}}
            <input class="form-control" {{form_widget(bookingTheouleForm.startDate)}}
    </div>

    <div class="row justify-content-center align-items-center text-center">
        <div class="text-bold">{{ form_label(bookingTheouleForm.endDate)}}</div>
        <input class="form-control"{{form_widget(bookingTheouleForm.endDate)}}
    </div>

    <div class="row justify-content-center align-items-center text-center">
        {{ form_label(bookingTheouleForm.rooms)}}
        <div style='width:320px'>{{form_widget(bookingTheouleForm.rooms)}}</div>
    </div>

    <div class="text-center mt-4">
        {{ form_row(bookingTheouleForm.submit) }}
    </div>

    {{form_end(bookingTheouleForm)}}
</div>

{% endblock %}
